:root {
  /* default theme color */
  /* can be overrided by uses `themeConfig` option */
  --slidev-code-background: #f8f8f8;
  --slidev-theme-primary: #9BCA61;
  --zrp-primary: #9BCA61;
  --zrp-secondary: #8C6B96;
  --zrp-tertiary: #6698CB;
  --zrp-background: #212121ff;

}

.slidev-layout {
  background: var(--zrp-background);

  h1 {
    font-family: 'Open Sans', sans-serif;
  }
  
  h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
  }
}

.slidev-layout.cover {
  @apply h-full grid;

  h1 {
    @apply text-6xl leading-20 font-bold;
    text-align: center;
  }
}

.slidev-layout.content {
  @apply h-full grid pt-xs;


  h1 {
    @apply text-4xl leading-20 font-bold;
    text-align: left;
  }
}

.slidev-layout.center {
  @apply h-full grid pt-xs;


  h1 {
    @apply text-6xl font-bold;
  }
}


.slidev-layout.end {
  @apply h-full grid pt-xs;


  h1 {
    @apply font-bold;
  }

  p {
    @apply w-sm;
  }
}

.slidev-layout.section {
  @apply h-full grid pt-xs;

  .clip-parallelogram {
    @apply absolute top-0 left-0 w-2/3 h-full;
    clip-path: polygon(0 0, 100% 0%, 40% 100%, 0% 100%);
    background: var(--slidev-theme-primary);
  }

  h1 {
    @apply text-5xl font-bold;
    color: var(--zrp-background);
  }
}

h1 {
  .primary:hover {
    color: var(--zrp-primary);
    transition: 0.3s;
  }
  
  .secondary:hover {
    color: var(--zrp-secondary);
    transition: 0.3s;
  }
  
  .tertiary:hover {
    color: var(--zrp-tertiary);
    transition: 0.3s;
  }
}